#kanban {
  margin-left: 1%;
  padding-top: 1%;
  padding-bottom: 3%;
}
#dragNDrop {
  background: none;
}
@media screen and (max-width: 700px) {
  #dragNDrop {
    display: block !important;
    padding: 2% !important;
  }
  #columns {
    min-height: 0 !important;
    width: auto !important;
  }
}
#taskBtn {
  margin-left: 0% !important;
}
