nav {
  text-align: center;
  margin-bottom: 0;
  background: rgb(2, 0, 36, 0.5);
  background: linear-gradient(
    90deg,
    rgb(35, 34, 36) 0%,
    rgba(28, 28, 171, 1) 35%,
    rgba(146, 237, 255, 1) 100%
  );
  font-family: "Roboto", sans-serif;
}
nav h1 {
  color: rgb(216, 222, 235);
  font-weight: bold;
  font-family: "PT Sans Narrow", sans-serif;
}
nav.navbar.navbar-default {
  font-family: "Roboto", sans-serif;
}
#navDisplay {
  width: 30%;
}
.navbar-nav {
  flex-direction: row;
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}
#signOut {
  font-family: "Roboto", sans-serif;
  font-size: calc(1.1vh + 0.5vmin);
  width: 10vh;
  height: 5vh;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}
#signOut:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
#signOut:active {
  color: #000;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(28, 28, 171, 1) 35%,
    rgba(146, 237, 255, 1) 100%
  );
  transform: translateY(4px);
}
#signOut:active:after {
  background: transparent;
}
#signOut:hover:before {
  opacity: 1;
}
#signOut:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.chatButt {
  font-family: "Roboto", sans-serif;
  margin-left: calc(1vh + 0vh);
  font-size: calc(1.1vh + 0.5vmin);
  width: 10vh;
  height: 5vh;
  border: none !important;
  outline: none !important;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}
.chatButt:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
.chatButt:active {
  color: #000;
}
.chatButt:active:after {
  background: transparent;
}
.chatButt:hover:before {
  opacity: 1;
}
.chatButt:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0;
  }
}
#taskAddButt {
  font-family: "Roboto", sans-serif;
  margin-left: calc(1vh + 0vh);

  font-size: calc(1.1vh + 0.5vmin);
  width: 10vh;
  height: 5vh;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  z-index: 0;
  border-radius: 10px;
}

#taskAddButt:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
#taskAddButt:active {
  color: #000;
}
#signOut:active:after {
  background: transparent;
}
#taskAddButt:hover:before {
  opacity: 1;
}
#taskAddButt:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@media screen and (max-width: 700px) {
  #navDisplay {
    width: 100%;
  }
}
