.div.col {
  background: #000;
}
.popup2 {
  text-align: center;
  position: fixed;
}
.popup2\_inner {
  position: absolute;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  border-radius: 20px;
}
#popAdd {
  font-family: "Roboto", sans-serif;
  font-size: calc(1.1vh + 0.5vmin);
  width: 55vh;
  height: 85vh;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: fixed;
  z-index: 5;
  border-radius: 10px;
}
#popAdd:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
#popAdd:active {
  color: #000;
}
#popAdd:active:after {
  background: transparent;
}
#popAdd:hover:before {
  opacity: 1;
}
#popAdd:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}
